@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-break:normal;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
}

.post-captcha{
  padding-left: 5px;
  grid-column: 1/2;
}

.error404{
  color: white;
  margin-top: 100px;
  text-align: center;
}

body{
  min-height: 100vh;
  width: 100%;
  background-image: url("../public/Yakkins.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #192734;
}

svg{
  color: white;
}

.nav{
  margin: 10px auto 0 auto;
  text-align: center;
}

.nav-item > h2{
  margin: 5px;
}

.nav-active > h2{
  margin: 5px;
}

.nav-item{
  margin: 0;
  display: inline-block;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-item:hover{
  text-decoration: underline;
  background-color: black;
}
.nav-active{
  margin: 0;
  display: none;
  color: red;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  background-color:lightslategray;
  text-decoration: underline;
}

.nav-active:hover{
  color: black;
  background-color:lightslategray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login-container{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.form-container{
  margin: 0 auto 0 auto;
}

.login-form{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  }

.post-form{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 5px;
}


#login-button{
  grid-column: 1 / 3;
}

#login-header{
  text-align: center;
  margin: 0;
  padding: 0;
}

#login-form-divider{
  padding: 0 0 5px 0;
  border-bottom-width:0;
  border-left-width:0;
  border-right-width:0;
}

#website-name{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
  display: block;
  color: white;
}

.header{
  text-align: center;
  width: 50%;
  margin: 0 auto 0 auto;
  color: white;
}

.post-form-container{
  width: 50%;
  margin: 0 auto 0 auto;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  overflow: hidden;
  background-color: #C8D7E4;
}

#post-form-text{
  grid-column: 1/4;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  border-color: black;
  margin: 5px 5px 0 5px;
}

#post-form-submit{
  grid-column: 1/4;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin: 0 5px 5px 5px;
}

#post-form-submit:hover{
  background-color: #eaeaea;
}



#file-upload{
  grid-column: 3/4;
}

.rules-banner{
  width: 50%;
  margin: auto;
}

.rules{
  font-size: 32px;
  margin: 0;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: red;
  text-decoration: underline;
}

.rule{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: red;
  text-decoration: underline;
}

.sub-banner{
  margin: 0;
  font-size: 32px;
  text-align: center;
  color:white;
}

.school-name{
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.state-list{
  display: block;
  text-align: center;
  color: darkblue;
  font-size: 22px;
  text-decoration: underline;
}
.state-list:hover{
  color: lightblue;
}

.state-form{
  height:25px;
  font-size: 20px;
}

.state-header{
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin: 0;
  margin-bottom: 10px;
}


.welcome-banner{
  width: 70%;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

#welcome-header{
  text-align: center;
  margin-bottom: 0;
}

#welcome-body{
  padding: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

#nsfw-warning{
  color: red;
  font-weight: 800;
}

#post-form-label{
  margin-left: 7px;

}

.button{
  display: table;
  background-color: transparent;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
}

.button:hover{
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.button:active{
  color:blue;
}

.school-list{
  display: block;
  list-style: none;
  color: blue;
  text-decoration: underline;
  font-size: 18px;
  text-align: center;
}
.school-list:hover{
  color: purple;
}

.list-header{
  font-family: 'Playfair Display', serif;
  text-align:center;
  margin: 0;
}

ul{
  padding: 0;
}

textarea{
  resize: none;
}

#back-link{
  margin-left: auto;
  margin-right: 0;
  font-size: 18px;
  text-decoration: underline;
  color: lightblue;
}

#back-link:hover{
  color: purple;
}

#states-link{
  display: inline-block;
  margin: 0 auto 0 auto;
  font-size: 18px;
  text-decoration: underline;
  color: blue;
}

#states-link:hover{
  color: purple;
}

.state-selector{
  display: table;
  margin: 0 auto 0 auto;
}

#go-button{
  height: 32px;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  display: inline;
  vertical-align: top;
  overflow: hidden;
}

.state-form{
  display: inline;
  margin-right: 20px;
  font-family: 'Playfair Display', serif;
  height: fit-content;
  max-height: 30vw;
}

.class-wrapper{
  background-color: white;
  max-width: 50%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 30px;
  padding-bottom: 20px;
}
.college-container{
  background-color: white;
  width: 50%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 30px;
  padding-bottom: 20px;
}

.feed-container{
  padding: 15px;
  padding-bottom: 0;
  width: 50%;
  margin: 0 auto 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #C8D7E4;
}

#page-separator{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 1px;
  border-top: transparent;
}

.loading{
  animation: none;
  text-align: center;
}

.post{
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  margin: auto;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 3px 3px 5px black;
  overflow: hidden;
}

.media-container>img{
  display: block;
  min-width:80%;
  max-width: 95%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
}
.media-container>video{
  display: block;
  min-width:80%;
  max-width: 95%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
}

.post-content{
  display: block;
  margin: 0;
  font-size: 32px;
  background-color: #FFFFE0;
  border: 1px solid gray;
  box-shadow: 1px 2px #000;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}



.post-author{
  display: inline-block;
  color: red;
  margin: 0;
}


.post:nth-child(odd){
  background-color: white;
}

.post-header{
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 0px;
  margin: 0 auto 0 auto;
}

.post-created{
  color: #6a6a6a;
  display: block;
  float: left;
  margin: 0;
}
.post-updated{
  color: #6a6a6a;
  display: block;
  margin: 0;
  float: right;
}

.post-id{
  color: green;
  display: block;
  margin: 0;
  clear:both;
}

.thread-actions{
  color: blue;
  text-decoration: underline;
  text-align: center;
  padding-right: 5px;
}

.thread-actions:hover{
  color: purple;
  cursor: pointer;
}

.reply-text{
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 75px;

}

.reply-file{
  display: block;
  float: left;
  margin-left: 7px;
  margin-bottom: 5px;
}
.reply-submit{
  float: right;
  margin-right: 7px;
}

.reply-form-wrapper{
  width: 95%;
  background-color: #C8D7E4;
  color: black;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px auto 10px auto;
}

.reply-form-header{
  margin: 5px 0 5px 7px;

}

.error-container{
  text-align: center;
}

.word-counter{
  grid-column: 1/4;
  text-align: end;
  color: white;
  margin-right: 7px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.text-area-container{
  margin-left: 7px;
  margin-right: 7px;
}

.reply-box{
  width: 95%;
  background-color: #FFFFE0;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.reply-content{
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}


.author{
  display: inline;
  margin-left: 5px;
  color: red;
  font-weight: 900;
}

.date{
  display: inline;
  margin-left: 5px;
  color: #6a6a6a;
  font-weight: 900;
}

.reply-media{
  padding-top: 5px;
  margin-left: 5px;
  display: inline-block;
}

.reply-media>img{
 max-height: 200px;
 max-width: 200px;
}

.reply-media>video{
  max-height: 200px;
  max-width: 200px;
 }

.media-text{
  color: white;
  margin: 0 auto 0 auto;
}
.admin-subheader{
  display: block;
  padding-top: 5px;
  color: red;
  font-weight: 900;
  text-decoration: underline;
}

.action-bar{
  margin-top: 5px;
  display: block;
  text-align: center;
}

.view-thread{
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.report-popup{
  position: fixed;
  background-color: lightgray;
  border: 2px solid black;
  right: 0;
  bottom: 60%;
  width: 400px;
  max-width: 50vw;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#report-form-text{
  width: 100%;
  height: 50px;
  display: block;
}

#report-form-submit{
  display: block;
}

.report-label{
  display: inline;
  margin: 0;
  color: black;
}

.report-header{
  width: 100%;
}

.close-report{
  margin: 0;
  display: inline;
  float: right;
  color: red;
  cursor: pointer;
  font-weight: 900;
}

.close-report:hover{
  color: black;
}

.thread-container{
  display: inline-block;
  width: 90%;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px
}

.thread-container>a{
  margin: 0 auto 0 auto;
}

.back-link{
  margin: 0 auto 0 auto;
  text-align: center;
}
.report-captcha{
  grid-column:1/4;
  overflow: hidden;

}
.report-counter{
  display: inline;
  float:right;
}

.reported-content{
  color: red;
}

.contact-header{
  text-align: center;
  text-decoration: underline;
  color: red;
}

.contact-info{
  padding-left:10px
}

.contact-text{
  display: inline-block;
}

.footer{
  width: 100%;
  height: 150px;
  color: black;
  text-align: center;
  margin-top: 100px;
}

.footer>div>h2{
  background-color: green;
}

.footer-link{
  color: blue;
  text-decoration: underline; 
}

.footer-link:hover{
  color: purple;
}

.bottom-ad{
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  /* Height of the footer*/ 
}

#post-backlink{
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: left !important;
}

.post-view-header{
  margin-left: 30px !important;
  font-size: 3.5em !important;
}

.post-view-container{
  display: inline-block;
}

.post-ad{
  position: relative;
  display: block;
  width: 300px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin: 0 auto 0 auto;
}

.welcome-text{
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.welcome-container{
  background-color: white;
  width: fit-content;
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto 0 auto;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid;
  border-radius: 5px;
  max-width: 700px
}

.content-container{
  background-color: white;
  width: fit-content;
  margin: 0 auto 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
  border: solid;
  border-radius: 5px;
  max-width: 700px
}

.post-captcha{
  overflow: hidden;
  grid-column: 1/4;
}

.gone{
  display: none;;
}

.welcome-button{  
  font-size: 1.5em;
  font-weight: 900;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  text-align: center;
  border: solid black 1px;
  width:fit-content;
  font-family: 'Playfair Display', serif;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  animation: 1s infinite pulse alternate;
}

@keyframes pulse {
  from{
    background-color:white;
    color: black;
  }
  to{
    background-color: black;
    color: white;
  }
  
}


.welcome-button:hover{  
  color: white;
  background-color: black;
  animation: none;
}

.ticker-container{
  overflow: hidden; /* HIDE SCROLL BAR */
  background-color: #2E4A60;
  /* max-height: ; */
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;

}

.top-school-text{
  color: green;
}

.hottest-post-text{
  color: red;
}

.ticker-content{
  display: flex;
  color: black;
}

.ticker-item{
  flex-shrink: 0;
  padding-right: 100px;
  box-sizing: border-box;
  text-align: center;
  max-height: 1.5em;
}

.ticker-background{
  background-color: white ;
}

.icons{
  height: 2em;
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  transform: translateY(25%);
}

.email{
  text-decoration: underline;
}
.twitter{
  color:dodgerblue;
}
.linkedin{
  color:blue;
  text-decoration: underline;
}

@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-150%, 0, 0); }
}

.ticker-content { animation: tickerh linear 30s infinite; }
.ticker-content:hover { animation-play-state: paused; }

.ticker-item{
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  max-height: 1.5em;
  padding-right: 10px;
}

.link{
  color: blue;
  text-decoration: underline;
}

.link:hover{
  color: purple;
}

.error-message{
  font-weight: 900;
  margin: 0 auto 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: red;
  text-align: center;
  width: fit-content;
  margin-top: 10px;
}

.success-message{
  font-weight: 900;
  color: white;
  text-align: center;
  background-color: green;
  width: 100%;
  margin-top: 10px;
}


@media only screen and (max-width: 1000px) {

  .welcome-banner{
    width: 95%;
  
  }
  .class-wrapper{
    position: absolute;
    width: 95%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
  }
  .college-container{
    width:95%;
  }
  .post-form-container{
    width:95%;
  }
  .feed-container{
    width:95%;
  }
  .rules-banner{
    width:95%
  }
  #page-separator{
    width:95%
  }
  .thread-container{
    width:100%;
  }
  .post-created{
    display: block;
    width: 100%;
  }
  .post-updated{
    display: block;
    float: initial;
  }
}
@media only screen and (max-width: 800px) {
.report-popup{
  min-width: 85%
}
}
@media only screen and (max-width: 1200px) {

  .post-created{
    display: block;
    width: 100%;
  }
  .post-updated{
    display: block;
    float: initial;
  }


}